@font-face {
    font-family: 'MerriweatherSans';
    src: url(../assets/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);
}

.title-container{
    display: flex;
    background-color: #cfb573;
    height: 12vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 5px rgba(0, 0, 0, 0.25);
}

h1, h2, h3{
    font-family: 'MerriweatherSans';
}

h1{
    /*color: #f5f5f5;*/
    font-size: 96px
}



.landing-container{
    text-align: center;
    /*padding-top: 5%;*/

    line-height: 101px;

}

h2{
    font-size: 80px;
    
}

h3{
    font-size:64px;
    line-height: 80px;
}

.landing-button{
    box-sizing: border-box;
 

    border: 3px solid #000000;
    border-radius: 50px;

    background-color: #ffdd85;

    width: 348px;
    height: 87px;

    font-size: 50px;
    color: black;
    font-family: 'MerriweatherSans';
    font-weight: 700;
    line-height: 63px;
    color: black;
}

button:hover{
    background-color:#cfb573;
}

